.cv-abilities {
    width: 100%;
    max-width: 34rem;
    padding: 0 0.625rem 0 0.625rem;

    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
    
    && .break {
        flex-basis: 100%;
        order: 0;
    }
}

.cv-ability {
    min-height: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    && > .label {
        width: 0;
        font-size: 0.625rem;
    }

    && .ability {
        width: fit-content;
        padding: 0.125rem 0.375rem 0.125rem 0.375rem;
        border-radius: 0.6rem;
        
        &&.language {
            background-color: black;
            color: white;
        }
        
        &&.technology {
            border: 1px solid black;
        }

        &&.skill {
            border: 1px dashed black;
        }
    }
}
