.cv-abilities {
    max-width: 545px;
    width: 100%;
    padding: 0 10px 0 10px;

    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.cv-ability {
    min-height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    && > .label {
        width: 1px;
        font-size: 0.625rem;
    }

    && > .ability {
        width: fit-content;
        padding: 2px 6px 2px 6px;
        border-radius: 9px;
        
        &&.language {
            background-color: black;
            color: white;
        }
        
        &&.technology {
            border: 1px solid black;
        }

        &&.skill {
            border: 1px dashed black;
        }
    }
}
