.cv-columns {
    max-width: 540px;
    width: 100%;
    padding: 0 20px 0 10px;

    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 30px;
}

.university-col, .employment-col {

    flex: 1;
    min-width: 240px;

    display: flex;
    flex-direction: column;
    gap: 12px;

    && > ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    && li {
        list-style: none;
        padding-left: 25px;
        display: flex;

        && .bullet {
            width: 10px;
        }

        && .text {
            width: 100%;
        }

        && a {
            color: #61126D;
        }
    }
}

.university-col {
    
    && .heading {
        height: 19px;
        color: #61126D;
        display: flex;
        gap: 5px;

        && h3 {
            font-size: 16px;
            margin: 0;
        }
    }

    && .subheading {
        padding-left: 24px;

        && #date {
            font-size: 8px;
            line-height: 14px;
        }

        && #course {
            color: #61126D;
            font-weight: bold;
        }

        /* Grade */
        && span {
            width: 20.68px;
            height: 13px;
            padding: 2px;

            background-color: #61126D;
            color: white;
            font-weight: 500; /* medium */
        }
    }
}

.employment-col {

    /* Address */
    && .heading {
        display: flex;
        gap: 5px;

        && p {
            font-size: 8px;
        }

        && h3 {
            font-size: 16px;
            margin: 0;
        }
    }

    && .job {
        padding-left: 25px;

        && h4 {
            margin: 0;
            font-size: 11px;
            line-height: 14px;
        }

        && #date {
            font-size: 8px;
            line-height: 14px;
        }
    }

    && #references {
        padding: 15px 0 0 25px;
        font-style: italic;
    }
}
