.cv-header {
    height: fit-content;
    min-height: 146px;
    width: 100%;
    box-sizing: border-box;

    background-color: black;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    && > div {
        width: 100%;
        max-width: 530px;
        padding: 10px 20px 10px 20px;
        display: flex;
        flex-direction: column;
    }
}

.cv-title {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 5px;

    && h1 {
        font-size: 32px;
        margin: 0;
        font-weight: 500; /* medium */
    }

    && h2 {
        font-size: 16px;
        margin: 0;
        font-weight: normal;
    }
}

.cv-contact {
    max-width: 400px;
    padding-top: 12px;
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
}

.cv-contact-item {
    width: 175px;
    height: fit-content;

    display: flex;
    gap: 5px;

    && > img {
        color: white;
    }

    && > p {
        font-size: 11px;

        && > .grey {
            opacity: 50%;
        }
    }

    && > a {
        font-size: 11px;
        color: white;

        && > .grey {
            opacity: 50%;
        }
        
        &&:hover {
            opacity: 100%;
            color: blue;

            && > .grey {
                opacity: 100%;
            }
        }
    }
}
