.cv-header {
    height: fit-content;
    width: 100%;
    box-sizing: border-box;

    background-color: black;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    && > div {
        width: 100%;
        max-width: 36rem;
        padding: 1.4rem;
        gap: 1.5rem;
        display: flex;
        flex-direction: column;
    }
}

.cv-title {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    && p {
        font-size: 1.1rem;
    }
}

.cv-contact {
    max-width: 27.25rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    && > div {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}

.cv-contact-item {
    width: 10rem;
    height: fit-content;

    display: flex;
    gap: 0.3rem;

    && > div {
        position: relative;
        height: 1rem;
        width: 1rem;
    }

    && > p > .grey {
        opacity: 50%;
    }

    && > a {
        color: white;

        && > .grey {
            opacity: 50%;
        }
        
        &&:hover {
            opacity: 100%;
            color: #61126D;

            && > .grey {
                opacity: 100%;
            }
        }
    }
}
