.cv {
    width: 100%;

    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

    && * {
        box-sizing: border-box;
    }
}

.cv-introduction {
    max-width: 545px;
    padding: 0 25px 0 25px;
}
