html {
    min-height: 100vh;
    margin: 0;
}

body {
    min-width: 100vw;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    margin: 0;

    background-color: pink; /* <- REMOVE WHEN DONE TESTING */
    font-family: Arial, Helvetica, sans-serif;
    overscroll-behavior: none;
}

p {
    margin: 0;
}
